.content img {
  width: 75%;
  height: auto;
}

main {
  max-width: var(--max-width);
  margin: auto;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  overflow-x: hidden;
  padding: 0 40px;
  max-width: var(--max-width);
  margin: auto;

  .explore-more {
    position: absolute;
    bottom: 20px;
    left: 45%;
    cursor: pointer;
  }
}

.hero-image {
  max-width: 50%;
  max-height: 400px;
  padding: 20px;
}

.btn-download {
  font-family: "Fira Sans", sans-serif;
  color: black;
  background-color: #859900;
  border-radius: 12px;
  margin: 10px;
  padding: 10px 0 10px 20px;
  font-size: 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 30px;
  width: 230px;
}

.discord {
  background-image: url("discord.svg");
}

.explore-more {
  position: absolute;
  bottom: 20px;
  left: 45%;
  cursor: pointer;
}

.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-size: 16px;
    margin: 10px;

    img {
      width: 25px;
      margin: 0 10px 0 0;
    }
  }

  .nav-item {
    margin: 0 5px;
    font-size: 14px;
  }
  .hero {
    padding: 40px 30px;
  }

  main {
    padding: 30px;
  }

  .content {
    padding: 0;
  }

  .content img {
    width: 100%;
    height: auto;
  }

  .explore-more, .toc, .hero-image {
    display: none;
  }
}

.toc-sticky {
  background-color: var(--toc-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--primary-text-color);

  a {
    color: var(--primary-text-color);
  }
}

.content code {
  background-color: var(--secondary-color);
  color: #4a4a4a;
  font-size: .875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
  font-family: monospace;
}
