<style>
    :root {
        /* Primary theme color */
        --primary-color: #002b36;
        /* Primary theme text color */
        --primary-text-color: #839496;
        /* Primary theme link color */
        --primary-link-color: #268bd2;
        /* Secondary color: the background body color */
        --secondary-color: #fdf6e3;
        --secondary-text-color: #839496;
        /* Background color of table of content */
        --toc-color: #eee8d5;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #586e75;
    }
</style>
